# Atividade

- Explorar os conjuntos de dados `iris` e `titanic` ambos dentro da biblioteca `seaborn`

- Para cada conjunto de dados criar:
    - Uma visualização apropriada para cada variável.
    - Cinco visualizações que mostrem a relação entre duas variáveis nos eixos e utilizem mais uma variável categorórica para a cor ou o estilo.
    - Três visualizações que utilizem fatoração de uma variável categórica para separar os graficos, usando `facets`.
    - Dois modelos de `pairplot` para apenas o dataset `iris`.    
    - Um gráfico interativo utilizando `plotly`.

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

# Conjunto de dados IRIS

In [3]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Descrição textual dos dados